<%- include ('../partials/header') %>


<main>
    </head>
    <body>
        <script>
            function openUpdateModal(workout_id, workout, day, time) {
                document.getElementById('update-modal').style.display='block';
                document.querySelector('#workout_update').value = workout;
                document.querySelector('#time_update').value = time;
                document.querySelector('#workout_id_update').value = workout_id;
                document.querySelector('#day_update').value = day;
            }
            </script>
            <div id="sweats" class="row" style="padding-left: 20px;">
                Sweats: <%= sweats %>
            </div>
        <div id="calendar" class="row">
            <% const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>
            <% days.forEach(function(day) { %>
                <div class="col-sm m-1 bg-white rounded px-1 px-md-2" id="<%- day.toLowerCase() %>">
                    <div class="h6 text-center position-relative py-2">
                        <%= day %>
                        <i class="'bi bi-calendar-plus btn position-absolute translate-middle start-100 </i>'" 
                        onclick="document.getElementById('create-modal').style.display='block'"></i>
                    </div>
                    <div class="event-container">
                        <% workouts.forEach(function(workout) { %>
                            <% if (workout.day == day) { %>
                                <div class="event row border rounded m-1 py-1" id="workout-<%= workout.workout_id %>">
                                    <div class="col event-title" onclick="openUpdateModal('<%= workout.workout_id %>', '<%= workout.workout %>', '<%= workout.day %>', '<%= workout.time %>')">
                                        <b><%= workout.workout %></b> <p><%= workout.time %></p>  </div>
                                </div>
                            <% } %>
                        <% }); %>
                        <% friends_workouts.forEach(function(workout) { %>
                            <% if(workout.day == day) { %>
                                <div class="event row border rounded m-1 py-1" id="workout-<%= workout.workout_id %>" style="background-color:rgb(225, 255, 251)">
                                    <div class="col event-title">
                                        <i><%= workout.friend_id %></i> <b><%= workout.workout %></b> <p><%= workout.time %></p>  </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                <% }); %>
          </div>
      <div class="container">
        <div id="create-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">New Workout</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                  onclick="document.getElementById('create-modal').style.display='none'"></button>
                </div>
                <div class="modal-body">
                  <form action="/calendar/add" method="POST">
                  <div class="mb-3" id="workoutDiv">
                      <label class="form-label">Workout</label>
                      <input type="text" class="form-control" id="workout" name="workout" aria-describedby="" required>
                  </div>
                  
                  <div class="mb-3" id="weekdayDiv">
                      <label class="form-label">Weekday</label>
                      <select class="form-select" name="day" id="weekday">
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                      </select>
                    </div>
                <div class="mb-3" id="timeDiv">
                                <label class="form-label">Time</label>
                                <input type="time" class="form-control" id="time" name="time" aria-describedby="" required>
                              </div>
                
                  <div>
                    <button type="submit" class="btn btn-primary" id="submit_button">Create Workout</button>
                  </div>
                </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="container">
            <div id="update-modal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Update Workout</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                      onclick="document.getElementById('update-modal').style.display='none'"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/calendar/update" method="POST">
                      <div class="mb-3" id="workoutDiv">
                          <label class="form-label">Workout</label>

                          <input type="text" class="form-control" id="workout_id_update" name="workout_id_update" hidden>

                          <input type="text" class="form-control" id="workout_update" name="workout_update" aria-describedby="" required>
                      </div>
                      
                      <div class="mb-3" id="weekdayDiv">
                          <label class="form-label">Weekday</label>
                          <select class="form-select" name="day_update" id="day_update">
                            <% days.forEach(function(day) { %>
                                <option id="<%= day %>_option"><%= day %></option>
                            <% }); %>
                          </select>
                        </div>
                    <div class="mb-3" id="timeDiv">
                                    <label class="form-label">Time</label>
                                    <input type="time" class="form-control" id="time_update" name="workout_update" aria-describedby="" required>
                                  </div>
                    
                      <div>
                        <button type="submit" value='update' class="btn btn-primary" name= "submit_button" id="submit_button">Update Workout</button>
                        <button type="submit" value='delete' class="btn btn-danger" name= "submit_button" id="delete_button">Delete Workout</button>
                      </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </body>
  </div>
</main>


<%- include ('../partials/footer') %>
