<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  const myModal = document.getElementById('myModal');
  const myInput = document.getElementById('myInput');

  myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus();
  });
</script>

<%- include ('../partials/header') %>

  <main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <div class="row mt-5">
        <div class="col-md-8 left-col" style="margin-bottom: 40px; margin-right: 50px;">
          <div class="left-div" style="background:lightgrey; padding: 20px; margin-bottom: 30px;">
            <!-- content for the left div goes here -->
            <div class="title-div" style="text-align: center; margin-bottom: 30px;">
              <h2>Feed</h2>
            </div>
            <% friends.forEach(function(item) {%>
            <div class="row" style="margin-right: 0px; margin-left: 0px;">
              <div class="col-md-6 mb-3">
                <div class="box" style="width:100%; background: white; border: 1px solid black; padding: 10px;">
                  <img src="img1.jpg" alt="image1" style="width:100%">
                  <div class="row mt-3">
                    <div class="col-md-6">Friend Name: <%- item.username %></div>
                    <div class="col-md-6">Workout Name:</div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="right-div" style="background:lightgrey">
            <!-- content for the right div goes here -->  
            <form action="/addFriend" method="POST">
              <label for="friendID">Friend ID</label>
              <input type="text" id="friendID" name="friendID">
              
              <input type="submit" label="Submit">
            </form>
            <p style="align-content: center;">
              Your User ID: <%- userID %>
            </p>
            <% if(locals.message){ %>
              <p>
                <%= message %>
              </p>
            <% }%>
          </div>
        </div>
      </div>
    </div>
  </main>


  <style>
    .white-btn {
      background-color: white;
      color: black;
    }
    
    .btn-custome-width {
      width: 150px;
    }
  </style>

  <%- include ('../partials/footer') %>