<!-- Currently displays one workout given parameters, do we want to display multiple workouts?
Needs css to look better
Working on formatting, more in the middle of the page, smaller, easier to read -->
<%- include ('../partials/header') %>


    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->

        <body>
            <div class="container">
                <div class="row">
                    <p style="float: right">Sweats:
                        <%= sweats%>
                        </p>
                </div>

                <form action="/workouts" method="POST">
                    <div class="row">
                        <div class="col-sm">
                            <% data.forEach(function(item) {%>
                                <div class="card" style="width: 21rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= item.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= item.instructions %>
                                        </p>
                                        <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                                    </div>
                                </div>
                                <% }); %>
                        </div>

                        <div class="col-sm">
                            <% data.forEach(function(item) {%>
                                <div class="card" style="width: 21rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= item.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= item.instructions %>
                                        </p>
                                        <!-- <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a> -->
                                    </div>
                                </div>
                                <% }); %>
                        </div>

                        <div class="col-sm">
                            <% data.forEach(function(item) {%>
                                <div class="card" style="width: 21rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= item.name %>
                                        </h5>
                                        <p class="card-text">
                                            <%= item.instructions %>
                                        </p>
                                        <!-- <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a> -->
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
            </div>
        </body>
        <br>
        <br>
    </div>

    <%- include ('../partials/footer') %>