<!-- Currently displays one workout given parameters, do we want to display multiple workouts?
Needs css to look better
Working on formatting, more in the middle of the page, smaller, easier to read -->
<%- include ('../partials/header') %>


    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->

        <body>
            <div class="container">
                <div class="row">
                    <p style="float: right">Sweats:
                        <%= sweats%>
                        </p>
                </div>

                <!-- <form action="/workouts" method="POST"> -->
                <!-- <form action="/workouts" method="POST"> -->
                    <div class="row">
                        <div class="col-sm">
                            <caption>Featured Workout</caption>
                            <caption>Featured Workout</caption>
                            <% data.forEach(function(item) {%>
                                <form action="/addToCalendar" method="POST">
                                    <div class="card" style="width: 21rem;">
                                        <div class="card-body">
                                            
                                            <h5 class="card-title">
                                                <!-- These hidden inputs are for the purpose of adding to calendar-->
                                                <input type="hidden" name="workoutName" value="<%- item.name %>"/>
                                                <%= item.name %>
                                            </h5>
                                            <p class="card-text">
                                                <input type="hidden" name="instructions" value="<%- item.instructions %>"/>
                                                <input type="hidden" name="difficulty" value="<%- item.difficulty %>"/>
                                                <%= item.instructions %>
                                            </p>
                                            <!-- <a href="#" class="card-link">Card link</a>
                                            <a href="#" class="card-link">Another link</a> -->
                                            
                                        </div>
                                        
                                    </div>
                                    <button type="submit">Add to Calendar</button>
                                </form>
                                <% }); %>
                                <button type="submit" value="Submit" class="btn btn-primary">Mark Complete</button>
                                <button type="submit" value="Submit" class="btn btn-primary">Mark Complete</button>
                        </div>

                        <div class="col-sm">
                            <% data.forEach(function(item) {%>
                                <form action="/addToCalendar" method="POST">
                                    <div class="card" style="width: 21rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= item.name %>
                                                <!-- These hidden inputs are for the purpose of adding to calendar-->
                                                <input type="hidden" name="workoutName" value="<%- item.name %>"/>
                                            </h5>
                                            <p class="card-text">
                                                <input type="hidden" name="instructions" value="<%- item.instructions %>"/>
                                                <input type="hidden" name="difficulty" value="<%- item.difficulty %>"/>
                                                <%= item.instructions %>
                                            </p>
                                            <!-- <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a> -->
                                        </div>
                                    </div>
                                    <button type="submit">Add to Calendar</button>
                                </form>
                                <% }); %>
                        </div>

                        <div class="col-sm">
                            <caption>Workout Shop</caption>
                            <caption>Workout Shop</caption>
                            <% data.forEach(function(item) {%>
                                <form action="/addToCalendar" method="POST">
                                    <div class="card" style="width: 21rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <!-- These hidden inputs are for the purpose of adding to calendar-->
                                                <input type="hidden" name="workoutName" value="<%- item.name %>"/>
                                                <%= item.name %>
                                            </h5>
                                            <p class="card-text">
                                                <input type="hidden" name="instructions" value="<%- item.instructions %>"/>
                                                <input type="hidden" name="difficulty" value="<%- item.difficulty %>"/>
                                                <%= item.instructions %>
                                            </p>
                                            <!-- <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a> -->
                                        </div>
                                    </div>
                                    <button type="submit">Add to Calendar</button>
                                </form>
                                <% }); %>
                                <button type="submit" value="Submit" class="btn btn-primary">Unlock</button>
                                <button type="submit" value="Submit" class="btn btn-primary">Unlock</button>
                        </div>
                        
                    </div>
                    
                    
                    
                </form>
            </div>
        </body>
        <br>
        <br>
    </div>

    <%- include ('../partials/footer') %>